body {
    background-color: #9a9999;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px;
}

.introducao {
    max-width: 500px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.img-box img {
    width: 350px;
    height: auto;
    border-radius: 20px;
}

.historia {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    height: 300px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.nilismo {
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;   
    border: #ECE7D1;
    border-radius: 10px;
    background-color: #ECE7D1;
}


.Vontadedepoder {
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;   
    border: #ECE7D1;
    border-radius: 10px;
    background-color: #ECE7D1;
}

.Übermensch {
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;   
    border: #ECE7D1;
    border-radius: 10px;
    background-color: #ECE7D1;
}

.ideiasnietz {
  display: flex;
  justify-content: center; /* centraliza */
  align-items: flex-start;
  gap: 20px;
}

.nilismo, .Vontadedepoder, .Übermensch {
  width: 500px; /* tamanho fixo pra caber os 3 */
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

/* cores */
.nilismo {
  background-color: #ECE7D1;
}

.Vontadedepoder {
  background-color: #ECE7D1;
}

.Übermensch {
  background-color: #ECE7D1;
}